<div>
  <h2>This is the CMS Index!</h2>

  <form action="/new_doc" method="get">
    <button type="submit">New Document</button>
  </form>

  <ul>
    <% @files.sort.each do |file| %>
      <li>
        <a href="<%= file %>"><%= file %></a> - 
        <form style="display: inline" action="/<%= file %>/edit" method="get">
          <button type="submit">edit</button>
        </form>
        <form style="display: inline" action="/<%= file %>/duplicate" method="post">
          <button type="submit">duplicate</button>
        </form>
        <form style="display: inline" action="/<%= file %>/delete" method="post">
          <button type="submit">delete</button>
        </form>
      </li>
    <% end %>
  </ul>
</div>

<% if @user %>
  <div>
    <p class="user_status">
      Signed in as <%= @user %>.
      <button form="signout" type="submit">Sign Out</button>
    </p>
<% else %>
      <button form="new_user" type="submit">Create an Account</button> - 
      <button form="signin" type="submit">Sign In</button>
  </div>
<% end %>

<form id="signout" style="display: inline" action="/users/signout" method="post"></form>
<form id="signin" style="display: inline" action="/users/signin" method="get"></form>
<form id="new_user" style="display: inline" action="/users/new" method="get"></form>
